*{
    font-family: 'Open Sans';
   
}

.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

[class*="col-"]{
    float: left;
}

.personaje {
    outline: 3px solid white;
    background:rgb(43, 41, 41);
}

@media(max-width:767px){
    .col-xs-12{width: 100%;}
    .col-xs-6{width: 50%;}
    .col-xs-4{width: 33.33333333%;}
}

@media(min-width:1200px){
    .col-lg-12{width: 100%;}
    .col-lg-9{width: 75%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-3{width: 25%;}
}

.Imagenes{
    display:block;
    margin:auto;
    width: 130px; 
    height: 130px;
    border-radius:150px;
    border:2.5px solid dimgray;
    padding: 10px;
}

.bandera{
    width: 40px; 
    height: 40px;
    border:1.3px solid dimgray;
    border-radius:150px;
    float: right;
    padding: 3px;
}

.icono{
    width: 50px; 
    height: 50px;      
 }

.opciones{
    background:rgb(247, 206, 70);
    font-size: 30px;
    text-align: center;
}

.letra{
    font-size: 16px;
    padding: 20px;
}

.menu{
    background:rgb(43, 41, 41);
}

.btn{
    font-size: 15px;
}

.info{
    background:rgb(43, 41, 41);
    color: white;
    padding: 50px;
}

.centrar{
    text-align: center;
}



      
      
      
    


    