*{
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans';
   
}

.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

[class*="col-"]{
    float: left;
}

@media(max-width:767px){
.col-xs-12{width: 100%;}
.col-xs-6{width: 50%;}
.col-xs-4{width: 33.33333333%;}
}

@media(max-width:991px) and (min-width:768px){
    .col-sm-12{width: 100%;}
    .col-sm-6{width: 50%;}
    .col-sm-4{width: 33.33333333%;}
    }

@media(max-width:1199px) and (min-width:992px){
    .col-md-12{width: 100%;}
    .col-md-9{width: 75%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-3{width: 25%;}
    }

@media(min-width:1200px){
    .col-lg-12{width: 100%;}
    .col-lg-9{width: 75%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-3{width: 25%;}
    }

    #Imagenes{
        width: 100px; 
        height: 100px;
        border-radius:150px;
        border:2.5px solid dimgray;
    }

    #bandera{
        width: 50px; 
        height: 50px;
        border:2.5px solid dimgray;
        float: right;
    }

    #icono{
        width: 25px; 
        height: 25px;
        border:1px solid dimgray;
    }

    #x{
        background:rgb(43, 41, 41);
    }

    #w{
        background:rgb(247, 206, 70);
        font-size: 30px;
    }

    #letra{
        font-size: 16px;
        font-weight: 1000;
        
    }

    #menu{
        background:rgb(43, 41, 41);
    }

    #boton{
        font-size: 15px;
    }

    .info{
        background:rgb(43, 41, 41);
        color: blanchedalmond;
    }

    